[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sukhanna
[access "refs/for/refs/*"]
	read = group user/sukhanna
	push = group user/sukhanna
	label-Code-Review = -2..+2 group user/sukhanna
	label-Verified = -1..+1 group user/sukhanna
	rebase = group user/sukhanna
	removeReviewer = group user/sukhanna
	submit = group user/sukhanna
[access "refs/heads/*"]
	read = group user/sukhanna
	create = group user/sukhanna
	push = +force group user/sukhanna
	pushMerge = group user/sukhanna
[access "refs/tags/*"]
	push = +force group user/sukhanna
	pushTag = group user/sukhanna
	pushSignedTag = group user/sukhanna
